*{
    padding:0%;
    margin:0%;

}

body{
background-image: url(background.jpg);
background-repeat: no-repeat;
background-size: 100% 150%;
backdrop-filter: blur(5px);
margin-left: 500px;
margin-top: 70px;
}
.border{
    border: 5px solid black;
    width: 50%;
}
h2{
    background-color: red;
    text-align:left;
}
.abc{
    text-align:left;
    background-color: gray;
}
label{
    width:100px;
    display:inline-block;
    margin:9px;
}
.sample{
    text-align:justify;
    
    
}
